{% extends 'catalog/base.html' %}
{% load img_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
             <h3><a type="button" class="btn btn-lg btn-block btn-outline-primary"  href="{% url 'catalog:product_update' object.pk %}">Редактировать</a></h3>
            <h3><a type="button" class="btn btn-lg btn-block btn-outline-warning"  href="{% url 'catalog:product_delete' object.pk %}">Удалить</a></h3>
            <img class="card-img-top" src="{{ object.image | media_filter }}">
            <div class="card-header">
                <h1 class="card-title pricing-card-title">{{ object.name }}</h1>
            </div>
            <div class="card-body">
                <h4 class="my-0 font-weight-normal">{{ object.price }} рублей</h4>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.description }}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                <a type="button" class="btn btn-lg btn-block btn-outline-primary"  href="{% url 'catalog:products_list'%}">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}